<%= turbo_frame_tag 'profile' do %>
    <div id="profile">
        <li class="nav-item active task-part">
            <%= link_to 'Открыть профиль', '/profile/profile_page', class: 'nav-link link-info' %>
        </li>
        <li class="nav-item active task-part">
            <%= link_to 'Редактировать профиль', '/profile/edit', class: 'nav-link link-info' %>
        </li>
        <li class="nav-item active task-part">
            <%= link_to 'Пройденные тесты', '/profile/tests_info', class: 'nav-link link-info' %>
        </li>
        <% if @role == 'superadmin' %>
            <li class="nav-item active task-part">
                <%= link_to 'Управление пользователями', '/profile/admin_page', class: 'nav-link link-info' %>
            </li>
            <li class="nav-item active task-part">
                <%= link_to 'Добавление заданий', '/profile/add_task', class: 'nav-link link-info' %>
            </li>
        <% elsif @role == 'admin'  %>
            <li class="nav-item active task-part">
                <%= link_to 'Добавление заданий', '/profile/add_task', class: 'nav-link link-info' %>
            </li>
        <% end %>
        <li>
            <%= button_to 'Выйти', '/log/sign_out', method: :get, class: "btn btn-outline-success", id: 'sign-out-button' %>
        </li>
        <li class="nav-item active task-part">
            <%= link_to 'ᐱ', '/homepage/up', class: 'nav-link link-info link-up' %>
        </li>
    </div>
<% end %>
