<%= turbo_frame_tag 'profile' do %>
    <div id="profile">
        <li class="nav-item active task-part">
            <%= link_to 'Часть 1', '/task/first_part', class: 'nav-link link-info' %>
        </li>
        <li class="nav-item active task-part">
            <%= link_to 'Часть 2', '/task/second_part', class: 'nav-link link-info' %>
        </li>
        <li class="nav-item active task-part">
            <%= link_to 'Экзамен', '/task/exam', class: 'nav-link link-info' %>
        </li>
        <li>
            <%= button_to 'Log Out', '/log/sign_out', method: :get, class: "btn btn-outline-success", id: 'sign-out-button' %>
        </li>
        <li class="nav-item active task-part">
            <%= link_to 'ᐱ', '/homepage/up', class: 'nav-link link-info link-up' %>
        </li>
    </div>
<% end %>
