<div class="container-task">
    <div class="task">
        <div class="task-block" id="task-block">
            <h2 class="title-task">Задание <%= @number %></h2>
                <pre class="task-info">
                    <% if @path_image %>
                        <%= image_tag @path_image, class: 'task-image'%>
                    <% end %>
                    <%= @formulation %>
                </pre>
                <% if @file %>
                    <div class="file">
                        <%= link_to "/task/downloader?number=#{@number}", class: 'file-downloader' do %>
                            <%= image_tag 'logo-file.png' %>
                        <% end %>
                        <%="#{@number}#{@file[@file.index('.')..]}"%>
                    </div>
                <% end %>
            <input type="text" name="answer" id="answer" class="answer-task", value="<%= @user_answer %>">
        </div>
        <div class="list-tasks">
            <div class="row-navigate">
                <li><a href="/task/change_task" class="small-number" id="link-1">1</a></li>
                <li><a href="/task/change_task" class="small-number" id="link-2">2</a></li>
                <li><a href="/task/change_task" class="small-number" id="link-3">3</a></li>
                <li><a href="/task/change_task" class="small-number">4</a></li>
                <li><a href="/task/change_task" class="small-number">5</a></li>
            </div>
            <div class="row-navigate">
                <li><a href="/task/change_task" class="small-number">6</a></li>
                <li><a href="/task/change_task" class="small-number">7</a></li>
                <li><a href="/task/change_task" class="small-number">8</a></li>
                <li><a href="/task/change_task" class="small-number">9</a></li>
                <li><a href="/task/change_task">10</a></li>
            </div>
            <div class="row-navigate">
                <li><a href="/task/change_task">11</a></li>
                <li><a href="/task/change_task">12</a></li>
                <li><a href="/task/change_task">13</a></li>
                <li><a href="/task/change_task">14</a></li>
                <li><a href="/task/change_task">15</a></li>
            </div>
            <div class="row-navigate">
                <li><a href="/task/change_task">16</a></li>
                <li><a href="/task/change_task">17</a></li>
                <li><a href="/task/change_task">18</a></li>
                <li><a href="/task/change_task">19</a></li>
                <li><a href="/task/change_task">20</a></li>
            </div>
            <div class="row-navigate">
                <li><a href="/task/change_task">21</a></li>
                <li><a href="/task/change_task">22</a></li>
                <li><a href="/task/change_task">23</a></li>
                <li><a href="/task/change_task">24</a></li>
                <li><a href="/task/change_task">25</a></li>
            </div>
            <div class="row-navigate">
                <li><a href="/task/change_task">26</a></li>
                <li><a href="/task/change_task">27</a></li>
            </div>
            <%= link_to 'Закончить тест', '/task/result', class: 'btn btn-danger', id: 'result' %>
            <% arr = ActiveSupport::JSON.decode(cookies[:time]) %>
            <% t = 236 - (Time.now - Time.new(arr[1], arr[2], arr[3], arr[4], arr[5], arr[6])) %>
            <div id="timer-time"> <%= "#{(t / 60).to_i}:#{(t % 60).to_i}"  %> </div>
        </div>
    </div>
</div>

<script>
    $('.row-navigate li').click(function(){
        let answer = document.getElementById('answer').value
        let current_number = document.getElementsByClassName('title-task')[0].textContent
        current_number = current_number.substr(current_number.indexOf(' ') + 1, current_number.length - 1)
        href = this.childNodes[0]
        href.href = '/task/change_task?number=' + href.text
        href.href += '&current_number=' + current_number + '&answer=' + answer
        console.log(href)
    })

    $('.list-tasks a#result').click(function(){
        let answer = document.getElementById('answer').value
        let current_number = document.getElementsByClassName('title-task')[0].textContent
        current_number = current_number.substr(current_number.indexOf(' ') + 1, current_number.length - 1)
        href = this
        href.href = '/task/result?'
        href.href += 'current_number=' + current_number + '&answer=' + answer
        console.log(href)
    })

    time = document.getElementById('timer-time')
    let min = 0;
    let set_min = time.innerHTML.substr(time.innerHTML.indexOf(':') + 1, ) - 1
    let hours = time.innerHTML.substr(0, time.innerHTML.indexOf(':'))
    let timer = setInterval(() => {
        if (hours == 0 && (set_min - min) < 0) {clearInterval(timer), document.getElementById('result').click()};
        if (set_min - min < 0){
            time.innerHTML = --hours + ':59';
            min = 0;
            set_min = 58;
        }
        else {
            time.innerHTML = hours + ':' + ((set_min - min < 10) ? '0' + (set_min - min++) : (set_min - min++))
        }
    }, 1000);
</script>