<div class="container-sm content">
  <%= form_with url: "/profile/log", method: :post do |form| %>
    <div class="email">
      <%= form.label :email, "Email address:" %>
      <%= form.text_field :email, placeholder: "Enter email", class: 'form-control' %>
    </div>
    <br>
    <div class="password">
      <%= form.label :password, "Password:" %>
      <%= form.password_field :password, placeholder: 'password', class: "form-control" %>
    </div>
    <br>
    <div class="password-confirmation">
      <%= form.label :password_confirmation, "Retype password:" %>
      <%= form.password_field :password_confirmation, placeholder: 'password', class: "form-control" %>
    </div>
    <br>
    <%= form.submit "Save", class: "btn btn-success" %>
  <% end %>
  <%= button_to 'Homepage', root_path, method: :get, class: "btn btn-primary btn-edit" %>

  <div class="errors-class">
    <div id="msg"></div>
  </div>
  <div id="msg-s"></div>
</div>